# Python Recap


Very quick Python refresher.

## Variables

Variables are containers of information. Easy to control and manage the data in our program.

In [14]:
from datetime import date

#creating a new variable

character_name = "John"  #string variable
character_age = 39      #int variable
character_birthday = date(year=1987, month=1, day=31)   #datetime object
character_married = False          #boolean
character_salary_k = 40.5          #float
pet_names = ["Linda", "Mario", "Nemo"]   #list of strings
pet_ages = [12, 6, 7]

set_test = {1,2,3}

pet_animals = {                         #dictionary
    "Linda": "dog",
    "Mario": "cat",
    "Nemo": "fish"
}

In [15]:
type(character_birthday)

datetime.date

In [7]:
character_birthday

datetime.date(1987, 1, 31)

In [17]:
print(f"The character's name is {character_name} and he is {character_age} years old.")

The character's name is John and he is 39 years old.

The advantage to store information in variables is because now, if we want to change something, we can simply change the variable and do not have to manually search in the text

## Working with strings (will be covered in more detail in the next notebook)

Strings cannot be changed (unlike lists)

In [1]:
city_name = "Oxford"

In [2]:
city_name

'Oxford'

In [3]:
city_name[1]

'x'

In [4]:
city_name[2] = "i" #starts with 0!

TypeError: 'str' object does not support item assignment

In [5]:
uni = "University"

In [6]:
ox_uni = city_name  + " " + uni

In [7]:
ox_uni

'Oxford University'

In [8]:
ox_uni = " ".join([city_name, uni])  #join all words in list using whitespace

In [9]:
ox_uni

'Oxford University'

In [10]:
ox_uni.lower()

'oxford university'

In [11]:
ox_uni

'Oxford University'

In [16]:
ox_uni.upper()

'OXFORD UNIVERSITY'

In [17]:
ox_uni = ox_uni.lower()   #variable assignment

In [18]:
ox_uni.islower()

True

In [19]:
len(ox_uni)

17

In [25]:
ox_uni[1]

'x'

In [20]:
ox_uni[0:10]   #string slicing, starting from 0, including 9 (10 excluded)

'oxford uni'

In [21]:
ox_uni.index("u")  #returns index of first appearance of the queried letter

7

In [46]:
ox_uni.replace("university", "uni") #changes all appearances

'Oxford uni'

In [45]:
ox_uni

'Oxford University'

In [25]:
ox_uni = "oxford university."

In [26]:
ox_uni.split()

['oxford', 'university.']

## Numbers (very quickly)

In [84]:
# mathematical operations

a = 4
b = 10

In [51]:
a + b

5

In [52]:
b - a

1

In [53]:
a * b

6

In [54]:
a/b

0.6666666666666666

In [55]:
a**b  #power

8

In [85]:
b % a   #remainder

2

In [86]:
"hello " * 3

'hello hello hello '

In [87]:
#absolute value
abs(-5)

5

In [88]:
#power
pow(3,2)

9

In [90]:
max([1,2,3,4,5])  #min

5

In [105]:
round(81.519999999909,2)

81.52

In [33]:
#import math
from math import *

In [34]:
floor(2.7)

2

In [35]:
ceil(2.7)

3

In [36]:
sqrt(37)

6.082762530298219

#### check out documentation https://docs.python.org/3/library/math.html

## Lists

In [1]:
test_list= [1,2,3,4]

In [8]:
del test_list[-1]  #back of the list

In [9]:
test_list

[1, 2, 3]

In [47]:
friends = ["Ben", "Kevin", "Anna", "Maria", "Oscar"]
ages = [29, 30, 27, 28, 30]

In [48]:
#negative  - access from behind, e.g. -1 last item in list
friends[-2] #dont forget, we start indexing at 0

'Maria'

In [49]:
#if left empty after colon - goes til end of list
friends[2:]

['Anna', 'Maria', 'Oscar']

In [50]:
friends[1] = "Mike"

In [51]:
friends

['Ben', 'Mike', 'Anna', 'Maria', 'Oscar']

### List functions

In [52]:
#append - always appends to the END of the list
friends.append("Nina")
ages.append(31)

In [53]:
friends

['Ben', 'Mike', 'Anna', 'Maria', 'Oscar', 'Nina']

In [54]:
ages

[29, 30, 27, 28, 30, 31]

In [55]:
#insert - inserts at an given index
friends.insert(1,"Alex")
ages.insert(1, 32)

In [56]:
friends

['Ben', 'Alex', 'Mike', 'Anna', 'Maria', 'Oscar', 'Nina']

In [37]:
#remove
friends.remove("Ben")
ages.remove(29)    #note: only removes first appearance!

In [38]:
friends

['Alex', 'Mike', 'Anna', 'Maria', 'Oscar', 'Nina']

In [39]:
#same as for strings
friends.index("Anna")

2

In [40]:
friends.count("Mike")

1

In [41]:
friends.sort()

In [42]:
friends

['Alex', 'Anna', 'Maria', 'Mike', 'Nina', 'Oscar']

In [57]:
friends.reverse()

In [58]:
friends

['Nina', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [59]:
#caution!

friends_2 = friends

In [60]:
print(friends_2)
print(friends)

['Nina', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']
['Nina', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [61]:
friends_2[0] = "Bob"

In [62]:
friends_2

['Bob', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [63]:
friends

['Bob', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [69]:
friends_2 = friends.copy()  #also for dictionaries

In [70]:
friends_2

['Oscar', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [71]:
friends

['Oscar', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [72]:
friends_2[0] = "Bob"

In [73]:
friends_2

['Bob', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

In [74]:
friends

['Oscar', 'Oscar', 'Maria', 'Anna', 'Mike', 'Alex', 'Ben']

## Tuples
immutable - cannot be changed

In [76]:
tuples_name_age = list(zip(friends, ages))

In [77]:
tuples_name_age

[('Oscar', 29),
 ('Oscar', 32),
 ('Maria', 30),
 ('Anna', 27),
 ('Mike', 28),
 ('Alex', 30),
 ('Ben', 31)]

In [78]:
len(tuples_name_age)

7

In [79]:
tuples_name_age[0]

('Oscar', 29)

In [81]:
tuples_name_age[0][1]

29

In [80]:
#tuples not subscriptable
tuples_name_age[0][0] = "Alex"

TypeError: 'tuple' object does not support item assignment

In [82]:
#dont forget - lists are subscriptable
tuples_name_age[0] = ("Alex", 28)

In [83]:
tuples_name_age

[('Alex', 28),
 ('Oscar', 32),
 ('Maria', 30),
 ('Anna', 27),
 ('Mike', 28),
 ('Alex', 30),
 ('Ben', 31)]

## Functions

In [84]:
def say_hi():
    print("hello")              #code needs to be indented  - otherwise not in function

In [85]:
say_hi()   #need to call it - need to specify you want to execute it

hello

In [90]:
# with parameters

def say_hi_name(name="no name"):   #parameter is a piece of information that we give to the function
    print("Hello", name)

In [92]:
say_hi_name("Lisa")

Hello Lisa

In [94]:
test = say_hi_name("Lisa")

Hello Lisa

In [98]:
type(test)

NoneType

In [13]:
def say_hi_fl(f_name, l_name):   #parameter is a piece of information that we give to the function
    #print("Hello", f_name, l_name)
    return "Hello "+ f_name + " " + l_name

In [14]:
say_hi_fl("Lisa", "Chalaguine")

'Hello Lisa Chalaguine'

In [15]:
# return statement

b = say_hi_fl("Lisa", "Chalaguine")
#b = say_hi()

In [16]:
b

'Hello Lisa Chalaguine'

In [17]:
type(b)

str

In [86]:
def cube(num):
    result = num**3
    return result

In [87]:
b = cube(3)

In [89]:
b = b+3

In [90]:
b

30

## If-statements and comparisons

In [105]:
text = "This is some dummy text"
text_2 = "This is some longer dummy text which represents a longer sentence and contains more information"
texts_of_interest = []  #empty list

#let's say we are not interested in very short texts

if len(text) > 50:
    texts_of_interest.append(text_2)

In [106]:
texts_of_interest

[]

In [107]:
#checking if specific words are present
if "dummy" in text:
    print(True)
else:
    print(False)

True

In [108]:
#checking if specific words are present
if "dummy" in text or "info" in text :
    print(True)
else:
    print(False)

True

In [109]:
#checking if specific words are present
if "dummy" in text and "info" in text:
    print(True)
else:
    print(False)

False

In [228]:
#nested if statement:

if len(text_2) > 50:
    #print("here")
    if "dummy" in text or "info" in text:
        print(True)
    else:
        print(False)

True

In [229]:
if len(text) < 50:
    print("short text")
elif len(text) > 50 and len(text_2) < 100:
    print("medium text")
else:
    print("long text")

short text

In [110]:
#more comparisons

# is equal to
text == text_2

False

In [112]:
#is not equal to
2 != 2

False

In [96]:
#equal or larger than
3 >= 3

True

In [97]:
#equal or smaller than
2 <= 3

True

## For-loops

In [151]:
for letter in "University":
    print(letter.upper())

U
N
I
V
E
R
S
I
T
Y

In [242]:
#combining different types of loops
vowels = ["a", "e", "i", "o", "u"]

for letter in "University".lower():
    if letter not in vowels:
        print(letter)
    else:
        print("*")

*
n
*
v
*
r
s
*
t
y

## Dictionaries & sets

hash-maps are much faster to search than lists so often better to store certain information in dictionaries rather than lists

In [113]:
month_conversion = {
    "Jan": ["January", "Januar"],
    "Feb": "February",
    "March": 3,
    #etc
    
}

In [114]:
#accessing values of key in dictionary
month_conversion["Jan"]

['January', 'Januar']

In [115]:
month_conversion["Jun"]  #but this gives an error

KeyError: 'Jun'

In [116]:
#better to use get()
b = month_conversion.get("Jun")  #no error

In [117]:
b

In [119]:
from nltk.corpus import stopwords

In [120]:
stop_words_list = list(stopwords.words('english'))
stop_words_dict = dict.fromkeys(stop_words_list)

In [121]:
stop_words_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [15]:
stop_words_dict

{'i': None,
 'me': None,
 'my': None,
 'myself': None,
 'we': None,
 'our': None,
 'ours': None,
 'ourselves': None,
 'you': None,
 "you're": None,
 "you've": None,
 "you'll": None,
 "you'd": None,
 'your': None,
 'yours': None,
 'yourself': None,
 'yourselves': None,
 'he': None,
 'him': None,
 'his': None,
 'himself': None,
 'she': None,
 "she's": None,
 'her': None,
 'hers': None,
 'herself': None,
 'it': None,
 "it's": None,
 'its': None,
 'itself': None,
 'they': None,
 'them': None,
 'their': None,
 'theirs': None,
 'themselves': None,
 'what': None,
 'which': None,
 'who': None,
 'whom': None,
 'this': None,
 'that': None,
 "that'll": None,
 'these': None,
 'those': None,
 'am': None,
 'is': None,
 'are': None,
 'was': None,
 'were': None,
 'be': None,
 'been': None,
 'being': None,
 'have': None,
 'has': None,
 'had': None,
 'having': None,
 'do': None,
 'does': None,
 'did': None,
 'doing': None,
 'a': None,
 'an': None,
 'the': None,
 'and': None,
 'but': None,
 'if': None,
 'or': None,
 'because': None,
 'as': None,
 'until': None,
 'while': None,
 'of': None,
 'at': None,
 'by': None,
 'for': None,
 'with': None,
 'about': None,
 'against': None,
 'between': None,
 'into': None,
 'through': None,
 'during': None,
 'before': None,
 'after': None,
 'above': None,
 'below': None,
 'to': None,
 'from': None,
 'up': None,
 'down': None,
 'in': None,
 'out': None,
 'on': None,
 'off': None,
 'over': None,
 'under': None,
 'again': None,
 'further': None,
 'then': None,
 'once': None,
 'here': None,
 'there': None,
 'when': None,
 'where': None,
 'why': None,
 'how': None,
 'all': None,
 'any': None,
 'both': None,
 'each': None,
 'few': None,
 'more': None,
 'most': None,
 'other': None,
 'some': None,
 'such': None,
 'no': None,
 'nor': None,
 'not': None,
 'only': None,
 'own': None,
 'same': None,
 'so': None,
 'than': None,
 'too': None,
 'very': None,
 's': None,
 't': None,
 'can': None,
 'will': None,
 'just': None,
 'don': None,
 "don't": None,
 'should': None,
 "should've": None,
 'now': None,
 'd': None,
 'll': None,
 'm': None,
 'o': None,
 're': None,
 've': None,
 'y': None,
 'ain': None,
 'aren': None,
 "aren't": None,
 'couldn': None,
 "couldn't": None,
 'didn': None,
 "didn't": None,
 'doesn': None,
 "doesn't": None,
 'hadn': None,
 "hadn't": None,
 'hasn': None,
 "hasn't": None,
 'haven': None,
 "haven't": None,
 'isn': None,
 "isn't": None,
 'ma': None,
 'mightn': None,
 "mightn't": None,
 'mustn': None,
 "mustn't": None,
 'needn': None,
 "needn't": None,
 'shan': None,
 "shan't": None,
 'shouldn': None,
 "shouldn't": None,
 'wasn': None,
 "wasn't": None,
 'weren': None,
 "weren't": None,
 'won': None,
 "won't": None,
 'wouldn': None,
 "wouldn't": None}

In [122]:
sentence = """The large number of unfilled NHS job vacancies is posing a serious risk to patient safety, a report by MPs says.

It found England is now short of 12,000 hospital doctors and more than 50,000 nurses and midwives, calling this the worst workforce crisis in NHS history.

It said a reluctance to decisively plug the staffing gap could threaten plans to tackle the Covid treatment backlog.

The government said the workforce is growing and NHS England is drawing up long-term plans to recruit more staff.

Former Health Secretary Jeremy Hunt, who chairs the Commons health and social care select committee that produced the report, said tackling the shortage must be a "top priority" for the new prime minister when they take over in September.

"Persistent understaffing in the NHS poses a serious risk to staff and patient safety, a situation compounded by the absence of a long-term plan by the government to tackle it," he said.

    Fix NHS staffing crisis to tackle waiting list backlog - MPs
    Shortage of nurses 'a risk to patient safety'
    Half of new nurses and midwives come from abroad

The cross-party committee saw evidence that, on current projections, almost a million new jobs will need to be filled in health and social care by the early part of the next decade.

Extra staff would be needed to keep up with rising demand as the population gets older and healthcare becomes more complex and technologically advanced.

The health services in Scotland, Wales and Northern Ireland have faced similar staffing pressures.
A 'national scandal'

The committee also heard evidence from former Health Secretary Sajid Javid, who resigned earlier this month, that the government was not on track to deliver its manifesto commitment to increase the number of GPs in England by 6,000.

There was concern about maternity services, with more than 500 midwives leaving the health service between March 2021 and March 2022.

The committee described a situation where NHS pensions arrangements meant some senior doctors were better off retiring or reducing their working hours as a "national scandal" and called for swift action to change the rules."""

In [123]:
import time

In [124]:
cleaned_sentence = []

time1 = time.time()

for word in sentence.lower().split():
    if word not in stop_words_list:
        cleaned_sentence.append(word)
        
time2 = time.time()

In [125]:
t = time2 - time1

In [126]:
'{:f}'.format(t)

'0.000519'

In [127]:
" ".join(cleaned_sentence)

'large number unfilled nhs job vacancies posing serious risk patient safety, report mps says. found england short 12,000 hospital doctors 50,000 nurses midwives, calling worst workforce crisis nhs history. said reluctance decisively plug staffing gap could threaten plans tackle covid treatment backlog. government said workforce growing nhs england drawing long-term plans recruit staff. former health secretary jeremy hunt, chairs commons health social care select committee produced report, said tackling shortage must "top priority" new prime minister take september. "persistent understaffing nhs poses serious risk staff patient safety, situation compounded absence long-term plan government tackle it," said. fix nhs staffing crisis tackle waiting list backlog - mps shortage nurses \'a risk patient safety\' half new nurses midwives come abroad cross-party committee saw evidence that, current projections, almost million new jobs need filled health social care early part next decade. extra staff would needed keep rising demand population gets older healthcare becomes complex technologically advanced. health services scotland, wales northern ireland faced similar staffing pressures. \'national scandal\' committee also heard evidence former health secretary sajid javid, resigned earlier month, government track deliver manifesto commitment increase number gps england 6,000. concern maternity services, 500 midwives leaving health service march 2021 march 2022. committee described situation nhs pensions arrangements meant senior doctors better retiring reducing working hours "national scandal" called swift action change rules.'

In [128]:
cleaned_sentence = []

time1 = time.time()

for word in sentence.lower().split():
    if word not in stop_words_dict:
        cleaned_sentence.append(word)
        
time2 = time.time()

In [129]:
time2 - time1

0.0001399517059326172

In [130]:
format(time2 - time1, "f")

'0.000140'

#### but we are wasting space with the "None" values no? we do not need values

In [131]:
stop_words_set = set(stop_words_list)

In [132]:
stop_words_set #set doesnt allow duplicates and is sorted

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [133]:
cleaned_sentence = []

time1 = time.time()

for word in sentence.lower().split():
    if word not in stop_words_set:
        cleaned_sentence.append(word)
        
time2 = time.time()

In [134]:
format(time2 - time1, "f")  #even faster than the dictionary

'0.000106'

## Reading and writing into text files

In [37]:
stopword_file = open("stopword_file.txt", "r")    #mode r - reading, w - writing, a - append, r+  -reading and writing

You wont be able to execute all of the code below. once you have read the file the cursor is at the end of the file and nothing else will be read anymore - you will need to run the code above again

In [22]:
#stopword_file.read()

In [27]:
#for line in stopword_file:
    #print(line)

In [28]:
stop_words = []

In [32]:
for line in stopword_file:
    stop_words.extend(line.split())  #extends allows to append several words

In [33]:
stop_words

['a',
 'as',
 'able',
 'about',
 'above',
 'according',
 'accordingly',
 'across',
 'actually',
 'after',
 'afterwards',
 'again',
 'against',
 'aint',
 'all',
 'allow',
 'allows',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'among',
 'amongst',
 'an',
 'and',
 'another',
 'any',
 'anybody',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anyways',
 'anywhere',
 'apart',
 'appear',
 'appreciate',
 'appropriate',
 'are',
 'arent',
 'around',
 'as',
 'aside',
 'ask',
 'asking',
 'associated',
 'at',
 'available',
 'away',
 'awfully',
 'b',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'believe',
 'below',
 'beside',
 'besides',
 'best',
 'better',
 'between',
 'beyond',
 'both',
 'brief',
 'but',
 'by',
 'c',
 'cmon',
 'cs',
 'came',
 'can',
 'cant',
 'cannot',
 'cant',
 'cause',
 'causes',
 'certain',
 'certainly',
 'changes',
 'clearly',
 'co',
 'com',
 'come',
 'comes',
 'concerning',
 'consequently',
 'consider',
 'considering',
 'contain',
 'containing',
 'contains',
 'corresponding',
 'could',
 'couldnt',
 'course',
 'currently',
 'd',
 'definitely',
 'described',
 'despite',
 'did',
 'didnt',
 'different',
 'do',
 'does',
 'doesnt',
 'doing',
 'dont',
 'done',
 'down',
 'downwards',
 'during',
 'e',
 'each',
 'edu',
 'eg',
 'eight',
 'either',
 'else',
 'elsewhere',
 'enough',
 'entirely',
 'especially',
 'et',
 'etc',
 'even',
 'ever',
 'every',
 'everybody',
 'everyone',
 'everything',
 'everywhere',
 'ex',
 'exactly',
 'example',
 'except',
 'f',
 'far',
 'few',
 'fifth',
 'first',
 'five',
 'followed',
 'following',
 'follows',
 'for',
 'former',
 'formerly',
 'forth',
 'four',
 'from',
 'further',
 'furthermore',
 'g',
 'get',
 'gets',
 'getting',
 'given',
 'gives',
 'go',
 'goes',
 'going',
 'gone',
 'got',
 'gotten',
 'greetings',
 'h',
 'had',
 'hadnt',
 'happens',
 'hardly',
 'has',
 'hasnt',
 'have',
 'havent',
 'having',
 'he',
 'hes',
 'hello',
 'help',
 'hence',
 'her',
 'here',
 'heres',
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'hi',
 'him',
 'himself',
 'his',
 'hither',
 'hopefully',
 'how',
 'howbeit',
 'however',
 'i',
 'id',
 'ill',
 'im',
 'ive',
 'ie',
 'if',
 'ignored',
 'immediate',
 'in',
 'inasmuch',
 'inc',
 'indeed',
 'indicate',
 'indicated',
 'indicates',
 'inner',
 'insofar',
 'instead',
 'into',
 'inward',
 'is',
 'isnt',
 'it',
 'itd',
 'itll',
 'its',
 'its',
 'itself',
 'j',
 'just',
 'k',
 'keep',
 'keeps',
 'kept',
 'know',
 'knows',
 'known',
 'l',
 'last',
 'lately',
 'later',
 'latter',
 'latterly',
 'least',
 'less',
 'lest',
 'let',
 'lets',
 'like',
 'liked',
 'likely',
 'little',
 'look',
 'looking',
 'looks',
 'ltd',
 'm',
 'mainly',
 'many',
 'may',
 'maybe',
 'me',
 'mean',
 'meanwhile',
 'merely',
 'might',
 'more',
 'moreover',
 'most',
 'mostly',
 'much',
 'must',
 'my',
 'myself',
 'n',
 'name',
 'namely',
 'nd',
 'near',
 'nearly',
 'necessary',
 'need',
 'needs',
 'neither',
 'never',
 'nevertheless',
 'new',
 'next',
 'nine',
 'no',
 'nobody',
 'non',
 'none',
 'noone',
 'nor',
 'normally',
 'not',
 'nothing',
 'novel',
 'now',
 'nowhere',
 'o',
 'obviously',
 'of',
 'off',
 'often',
 'oh',
 'ok',
 'okay',
 'old',
 'on',
 'once',
 'one',
 'ones',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'ought',
 'our',
 'ours',
 'ourselves',
 'out',
 'outside',
 'over',
 'overall',
 'own',
 'p',
 'particular',
 'particularly',
 'per',
 'perhaps',
 'placed',
 'please',
 'plus',
 'possible',
 'presumably',
 'probably',
 'provides',
 'q',
 'que',
 'quite',
 'qv',
 'r',
 'rather',
 'rd',
 're',
 'really',
 'reasonably',
 'regarding',
 'regardless',
 'regards',
 'relatively',
 'respectively',
 'right',
 's',
 'said',
 'same',
 'saw',
 'say',
 'saying',
 'says',
 'second',
 'secondly',
 'see',
 'seeing',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'seen',
 'self',
 'selves',
 'sensible',
 'sent',
 'serious',
 'seriously',
 'seven',
 'several',
 'shall',
 'she',
 'should',
 'shouldnt',
 'since',
 'six',
 'so',
 'some',
 'somebody',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhat',
 'somewhere',
 'soon',
 'sorry',
 'specified',
 'specify',
 'specifying',
 'still',
 'sub',
 'such',
 'sup',
 'sure',
 't',
 'ts',
 'take',
 'taken',
 'tell',
 'tends',
 'th',
 'than',
 'thank',
 'thanks',
 'thanx',
 'that',
 'thats',
 'thats',
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'theres',
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'theres',
 'thereupon',
 'these',
 'they',
 'theyd',
 'theyll',
 'theyre',
 'theyve',
 'think',
 'third',
 'this',
 'thorough',
 'thoroughly',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'took',
 'toward',
 'towards',
 'tried',
 'tries',
 'truly',
 'try',
 'trying',
 'twice',
 'two',
 'u',
 'un',
 'under',
 'unfortunately',
 'unless',
 'unlikely',
 'until',
 'unto',
 'up',
 'upon',
 'us',
 'use',
 'used',
 'useful',
 'uses',
 'using',
 'usually',
 'uucp',
 'v',
 'value',
 'various',
 'very',
 'via',
 'viz',
 'vs',
 'w',
 'want',
 'wants',
 'was',
 'wasnt',
 'way',
 'we',
 'wed',
 'well',
 'were',
 'weve',
 'welcome',
 'well',
 'went',
 'were',
 'werent',
 'what',
 'whats',
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 'wheres',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 'whos',
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'willing',
 'wish',
 'with',
 'within',
 'without',
 'wont',
 'wonder',
 'would',
 'would',
 'wouldnt',
 'x',
 'y',
 'yes',
 'yet',
 'you',
 'youd',
 'youll',
 'youre',
 'youve',
 'your',
 'yours',
 'yourself',
 'yourselves',
 'z',
 'zero',
 'extrastopword1extrastopword2']

In [145]:
stop_words = set(stop_words)

In [146]:
stopword_file.close()

In [38]:
#appending to file
stopword_file = open("stopword_file.txt", "a") 
stopword_file.write("extrastopword1\n")  #add \n

15

In [39]:
stopword_file.write("extrastopword2")

14

In [40]:
stopword_file.close()